<app-general-navbar></app-general-navbar>
<div class="form-wrapper">
 <!-- Replace Thymeleaf fragment with Angular component -->

    <div class="add-form-wrapper">
        <form (ngSubmit)="onSubmit(book)">
            <h2>Add Book</h2>

            <div class="input-box">
                <label for="id">Book ID</label>
                <input
                    type="text"
                    id="id"
                    [(ngModel)]="book.id"
                    name="id"
                    placeholder="ID"
                    required
                />
            </div>

            <div class="input-box">
                <label for="name">Book Name</label>
                <input
                    type="text"
                    id="name"
                    [(ngModel)]="book.name"
                    name="name"
                    placeholder="Book Name"
                    required
                />
            </div>

            <div class="input-box">
                <label for="blurb">Blurb</label>
                <textarea
                    id="blurb"
                    [(ngModel)]="book.blurb"
                    name="blurb"
                    placeholder="Blurb"
                    required
                ></textarea>
            </div>

            <div class="input-box">
                <label for="rentalPrice">Rental Price</label>
                <input
                    type="number"
                    id="rentalPrice"
                    [(ngModel)]="book.rentalPrice"
                    name="rentalPrice"
                    placeholder="Rental Price"
                    required
                />
            </div>

            <div class="input-box">
                <label for="addingDate">Adding Date</label>
                <input
                    type="date"
                    id="addingDate"
                    [(ngModel)]="book.addingDate"
                    name="addingDate"
                    required
                />
            </div>

            <div class="input-box">
                <label for="genres">Genres</label>
                <input
                    type="text"
                    id="genres"
                    [(ngModel)]="genreList"
                    name="genres"
                    placeholder="genre1,genre2"
                    required
                />
            </div>

            <div class="input-box">
                <label for="writer">Writer Name</label>
                <input
                    type="text"
                    id="writer"
                    [(ngModel)]="book.writer"
                    name="writer"
                    placeholder="Writer Name"
                    required
                />
            </div>

            <button type="submit" class="form-add-button">Add</button>
        </form>
    </div>
 <!-- Replace Thymeleaf fragment with Angular component -->
</div>
<app-footer></app-footer>